html {
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

body {
    margin: 0;
    background-color: hsl(240, 73%, 65%);
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

div.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

div.card {
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    height: 200px;
    max-width: 75%;
    border-radius: 15px;
    display: flex;
    }

.pri-text {
    color: hsl(238, 29%, 16%);
}

button.question:hover {
    color: hsl(14, 88%, 65%);
}